[Unit]
Description=unpolished-peas online services
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/unpolished-peas-services-local --config /etc/unpolished-peas-services/deploy.zon
EnvironmentFile=-/etc/unpolished-peas-services/environment
Restart=on-failure
RestartSec=2
DynamicUser=yes
NoNewPrivileges=yes
PrivateTmp=yes
ProtectHome=yes
ProtectSystem=strict
ReadOnlyPaths=/run/secrets/unpolished-peas-services

[Install]
WantedBy=multi-user.target
